Name- Daljeet Singh

Roll No- TCB-45

Group A

Assignment 3 - 

Descriptive Statistics

Perform the following operations on any open source dataset.
1. Provide summary statistics for a dataset.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviationetc. of he species of 'Iris-setosa', 'Iris-verginica' and 'Iris-versicolor' of iris.csv dataset.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df=sns.load_dataset('iris')

In [ ]:
df.shape

(150, 5)

In [ ]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
df.value_counts()

sepal_length  sepal_width  petal_length  petal_width  species
5.8           2.7          5.1           1.9          virginica     2
6.2           2.2          4.5           1.5          versicolor    1
              2.9          4.3           1.3          versicolor    1
              3.4          5.4           2.3          virginica     1
6.3           2.3          4.4           1.3          versicolor    1
                                                                   ..
5.4           3.9          1.3           0.4          setosa        1
                           1.7           0.4          setosa        1
5.5           2.3          4.0           1.3          versicolor    1
              2.4          3.7           1.0          versicolor    1
7.9           3.8          6.4           2.0          virginica     1
Length: 149, dtype: int64

In [ ]:
df.groupby('species').describe()

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.105386  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [ ]:
setosa_df=df[df['species']=='setosa']

In [ ]:
setosa_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

In [ ]:
virginica_df=df[df['species']=='virginica']

In [ ]:
virginica_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [ ]:
versicolor_df=df[df['species']=='versicolor']

In [ ]:
versicolor_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [ ]:
df1=sns.load_dataset('tips')

In [ ]:
df1.head

<bound method NDFrame.head of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [ ]:
df1.size

1708

In [ ]:
df1.groupby('day').describe()

     total_bill                                                             \
          count       mean       std   min      25%    50%      75%    max
day
Thur       62.0  17.682742  7.886170  7.51  12.4425  16.20  20.1550  43.11
Fri        19.0  17.151579  8.302660  5.75  12.0950  15.38  21.7500  40.17
Sat        87.0  20.441379  9.480419  3.07  13.9050  18.24  24.7400  50.81
Sun        76.0  21.410000  8.832122  7.25  14.9875  19.63  25.5975  48.17

       tip            ...                 size                                \
     count      mean  ...     75%    max count      mean       std  min  25%
day                   ...
Thur  62.0  2.771452  ...  3.3625   6.70  62.0  2.451613  1.066285  1.0  2.0
Fri   19.0  2.734737  ...  3.3650   4.73  19.0  2.105263  0.567131  1.0  2.0
Sat   87.0  2.993103  ...  3.3700  10.00  87.0  2.517241  0.819275  1.0  2.0
Sun   76.0  3.255132  ...  4.0000   6.50  76.0  2.842105  1.007341  2.0  2.0


      50%  75%  max
day
Thur  2.0  2.0  6.0
Fri   2.0  2.0  4.0
Sat   2.0  3.0  5.0
Sun   2.0  4.0  6.0

[4 rows x 24 columns]

In [ ]:
df1.groupby('day')['total_bill'].describe()

      count       mean       std   min      25%    50%      75%    max
day
Thur   62.0  17.682742  7.886170  7.51  12.4425  16.20  20.1550  43.11
Fri    19.0  17.151579  8.302660  5.75  12.0950  15.38  21.7500  40.17
Sat    87.0  20.441379  9.480419  3.07  13.9050  18.24  24.7400  50.81
Sun    76.0  21.410000  8.832122  7.25  14.9875  19.63  25.5975  48.17

In [ ]:
df1[df1['day']=='Sun'][['total_bill','tip']].describe()

       total_bill        tip
count   76.000000  76.000000
mean    21.410000   3.255132
std      8.832122   1.234880
min      7.250000   1.010000
25%     14.987500   2.037500
50%     19.630000   3.150000
75%     25.597500   4.000000
max     48.170000   6.500000

In [ ]:
df1.groupby('sex').describe()

       total_bill                                                         \
            count       mean       std   min    25%    50%    75%    max
sex
Male        157.0  20.744076  9.246469  7.25  14.00  18.35  24.71  50.81
Female       87.0  18.056897  8.009209  3.07  12.75  16.40  21.52  44.30

          tip            ...               size                                \
        count      mean  ...   75%   max  count      mean       std  min  25%
sex                      ...
Male    157.0  3.089618  ...  3.76  10.0  157.0  2.630573  0.955997  1.0  2.0
Female   87.0  2.833448  ...  3.50   6.5   87.0  2.459770  0.937644  1.0  2.0


        50%  75%  max
sex
Male    2.0  3.0  6.0
Female  2.0  3.0  6.0

[2 rows x 24 columns]